*{
    padding: 0px;
    margin: 0px;
}

body::-webkit-scrollbar{
    width: 0px;
}

/* ================main-container ==============*/
.main-container{
    width: 100vw;
    height: 100vh;
    background-color: rgba(155, 129, 163, 0.604);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

/* ===============design====================== */
.design{
    position: absolute;
    width: 20px;
    height: 0px;
    background-color: rgb(155, 0, 155);
    border-radius: 10px;
    transition: height 0.5s;
}
#d1{
    transform: translate(-10px,30px);
}
#d2{
    transform: translate(-100px,50px);
}
#d3{
    transform: translate(80px,0px);
}

/* ====================login-div ================*/
.login-div{
    height: 50%;
    width: 55%;
    background-color: white;
    z-index: 1;
    border-radius: 20px;
    box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.475);
    display: flex;
    flex-direction: column;
}
.content
{
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    padding: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.heading{
    height: 14%;
    width: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    align-items: center;
    font-size: 2.5em;
}

.para{
    font-family: Arial, Helvetica, sans-serif;
    height: 12%;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    font: 1.5em;
}
.para a{
    text-decoration: none;
    color: rgb(174, 0, 201);
}
.btn{
    height: 8%;
    width: 95%;
    margin-bottom: 10px;
    border: 0px;
    font-size: 1.2em;
    background-color: white;
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.522);
    border-radius: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: relative;
}
.btn:hover{
    cursor: pointer;
}
.btn img{
    height: 80%;
    width: 8%;
    position: absolute;
    left: 10px;
    top: 10%;
}

.line{
    margin-top: 2%;
    margin-bottom: 2%;
    height: 5%;
    width: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}
#l1{
    width: 40%;
    height: 1px;
    background-color: grey;
}
#l2{
    width: 40%;
    height: 1px;
    background-color: grey;
}
.line span{
    margin-left: 10px;
    margin-right: 10px;
}

#inputId{
    width: 95%;
    height: 8%;
    border-radius: 10px;
    border: 0px solid black;
    box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.59);
    padding-left: 10px;
    margin-bottom: 1.5%;
    font-size: 1.4em;

}
#inputPassword{
    width: 95%;
    height: 8%;
    border-radius: 10px;
    border: 0px solid black;
    box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.59);
    padding-left: 10px;
    font-size: 1.4em;
}
#forgetPassword{
    position: absolute;
    right: 5%;
    top: 77%;
    text-decoration: none;
    color: rgb(174, 0, 201);
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
}
#register{
    position: absolute;
    left: 5%;
    top: 77%;
    text-decoration: none;
    color: rgb(174, 0, 201);
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
}
#submitLogin{
    margin-top: 25%;
    width: 95%;
    height: 8%;
    border: 0px solid black;
    background-color: magenta;
    border-radius: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 1.5em;
    box-shadow: 0px 0px 5px 0.5px rgba(0, 0, 0, 0.393);
}
#submitLogin{
    cursor: pointer;
}